* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #000000, #0a2f2f, #1f4f4f);
  color: white;
}

.main-header {
  text-align: center;
  padding: 20px;
}

.main-header h1 {
  color: #00ffd5;
  font-weight: 600;
}

.main-header p {
  color: #aaa;
}

.main-header p {
  margin-top: 5px;
  color: #ccc;
  font-size: 14px;
}

.container {
  display: flex;
  padding: 20px 40px;
  gap: 25px;
}

.form-panel {
  width: 30%;
  background: rgba(0, 0, 0, 0.75);
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #00ffd5;
}

label {
  display: block;
  margin-top: 18px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #00ffd5;
  letter-spacing: 0.5px;
}

input, textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #00ffd5;
  background: transparent;
  color: white;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: none;
}


button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #00ffd5;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00c2a8;
}

.info-cupon {
  margin-top: 10px;
  font-size: 13px;
  color: #aaa;
}

.product-panel {
  width: 70%;
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #00ffd5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contador {
  background: #00ffd5;
  color: black;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}

#mensaje {
  margin-top: 10px;
  color: #aaa;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #111;
  border: 1px solid #00ffd5;
  border-radius: 12px;
  width: 220px;
  padding: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  max-width: 80px;
  width: 80%;
  display: block;
  margin: 10px auto;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #ccc;
}

.card button {
  margin-top: 10px;
  background: red;
  color: white;
}

.form-panel input,
.form-panel textarea {
  margin-bottom: 15px;
}

.detalle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.card button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
}

.card .btn-editar {
  background: #00ffd5;
  color: black;
}

.card .btn-editar:hover {
  background: #00c2a8;
}

.card .btn-eliminar {
  background: red;
  color: white;
}

.card .btn-eliminar:hover {
  background: darkred;
}